*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contactlinks
{
    display: flex;
    justify-content: center;
}
.contactlinks li{
text-decoration: none;
display: inline-block;
margin-left: 15px;
margin-right: 15px;
font-size: 30px;
}
.contactlinks li i{
    color: black;
}